<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://s.beta.myapp.com/myapp/rdmexp/exp/file2/2018/12/24/comvfansVfanspro_100_ab2cae1d-5a1e-5473-8c6e-879b8e45a5b8.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://q2.qlogo.cn/headimg_dl?bs=1140414064&dst_uin=1140414064&dst_uin=1140414064&;dst_uin=1140414064&spec=100&url_enc=0&referer=bu_interface&term_type=PC</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://q2.qlogo.cn/headimg_dl?bs=1140414064&dst_uin=1140414064&dst_uin=1140414064&;dst_uin=1140414064&spec=100&url_enc=0&referer=bu_interface&term_type=PC</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.vfans.Vfanspro</string>
				<key>bundle-version</key>
				<string>1.9.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>影迷大院</string>
				<key>title</key>
				<string>影迷大院-欢迎使用-公众号科技贯穿生活</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>







